<table border="1" class="dataframe dataframe-supervisor">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Número do Chamado</th>
      <th>Tempo de Espera</th>
      <th>Categoria</th>
      <th>Cliente</th>
      <th>Status</th>
      <th>Técnico</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00000001</td>
      <td>00:05:00</td>
      <td>Periferico</td>
      <td>Cliente 1</td>
      <td>Pendente</td>
      <td>Técnico A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>00000002</td>
      <td>08:00:00</td>
      <td>Sistema</td>
      <td>Cliente 2</td>
      <td>Pendente</td>
      <td>Técnico B</td>
    </tr>
  </tbody>
</table>